<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings> 
<add name="Server=CRM Source" connectionString="Url=mention source url; Username=source username; Password=source password; authtype=Office365;RequireNewInstance=True;"/>
<add name="Server=CRM Target" connectionString="Url=mention Target url; Username=target username; Password=Target Password; authtype=Office365;RequireNewInstance=True;"/>
</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>
